@{ViewBag.Title = "Evaluate";}


<div class="row">

    <div class="col-md-12">
        <h1>Evaluate</h1>
        
        <div class="form-group">
            <select id="CountryList" class="form-control">
                <option id=""> ** SELECT **</option>
                <option id="UK">United Kingdom</option>
                <option id="US">United States</option>
                <option id="ES">Spain</option>
                <option id="FR">France</option>
            </select>
        </div>

        <h2 id="SelectedCountry"></h2>

    </div>
</div>


@section scripts {
    <script>
        $(function () {
            $('#CountryList').on("change", function () {
                $('#SelectedCountry')
                    .html("Selected country code: " + $(this).find('option:selected').attr('id'));
            });
        })
    </script>
}