@{ViewBag.Title = "Index";}


<div class="jumbotron">
    <h1>CasperJS Testing</h1>
    <p>CasperJS is a navigation scripting & testing utility for PhantomJS written in Javascript</p>
    <p><a target="_blank" src="http://casperjs.org/" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<div class="row">
    
    <div class="col-md-6">
        In case you haven’t seen CasperJS yet, go and take a look, it’s an extremely useful companion to PhantomJS.
        <a href="http://ariya.ofilabs.com/2012/03/phantomjs-and-travis-ci.html" target="_blank">Ariya Hidayat</a>, creator of Phantomjs
    </div>

    <div class="col-md-6">

    </div>

</div>

