@{ViewBag.Title = "Home";}


<div class="jumbotron">
    <h1>CasperJS Testing</h1>
    <p>CasperJS is a navigation scripting & testing utility for PhantomJS written in Javascript</p>
    <p><a target="_blank" href="http://casperjs.org/" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<div class="row">
    <div class="col-xs-1 imgbg">
        <img src="~/Content/casperjs-logo.png" style="width: 100%;" />
    </div>

    <div class="col-xs-5">
        In case you haven’t seen CasperJS yet, go and take a look, it’s an extremely useful companion to PhantomJS.
        <a href="http://ariya.ofilabs.com/2012/03/phantomjs-and-travis-ci.html" target="_blank">Ariya Hidayat</a>, creator of Phantomjs
    </div>

    <div class="col-xs-1 imgbg">
        <img src="~/Content/phantomjs-logo.png" style="width: 100%;" />
    </div>

    <div class="col-xs-5">
        <a href="http://phantomjs.org/" target="_blank">PhantomJS</a> is a headless WebKit scriptable with a JavaScript API. It has fast and native support for various web standards: DOM handling, CSS selector, JSON, Canvas, and SVG.
    </div>

</div>

